<!DOCTYPE html>
<html lang="en">

<head>
	<title><!-- TITLE --> | Michael Crum | Portfolio</title>

	<!-- seo -->
	<meta name="author" content="Michael Crum">
	<meta name="description" content="<!-- DESCRIPTION -->">
	<meta name="keywords" content="portfolio,developer,robotics,personal">

	<!-- display -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

	<!-- icon -->
	<link rel="icon" type="image/png" sizes="32x32" href="../global_assets/icons/favicon-32x32.png" />
	<link rel="icon" type="image/png" sizes="16x16" href="../global_assets/icons/favicon-16x16.png" />

	<!-- stylesheets -->
	<link rel="stylesheet" href="../styles/project_page.css">
	<link rel="stylesheet" href="../styles/highlight/styles/base16/bright.min.css">
	<link rel="stylesheet" href="../styles/katex/katex.min.css">

	<!-- syntax highlighting-->
	<script src="../styles/highlight/highlight.min.js"></script>
	<script>hljs.highlightAll();</script>

	<!-- latex support-->
	<script defer src="../styles/katex/katex.min.js"></script>

	<!-- font -->
	<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet" />

	<!-- analytics -->
	<script data-goatcounter="https://michael-crum.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>

	<!-- iFrame optimization -->
	<script>
		checkVisibility();
		document.addEventListener("scroll", (event) => {
			checkVisibility();
		});

		function checkVisibility() {
			const frames = document.getElementsByTagName("iframe");
			for (var i = 0; i < frames.length; i++) {
				frame = frames[i];
				if (isInViewport(frame)) {
					frame.style.visibility = "visible";
				} else {
					frame.style.visibility = "hidden";
				}
			}
		}

		function isInViewport(elm) {
			var rect = elm.getBoundingClientRect();
			var viewHeight = Math.max(document.documentElement.clientHeight, window.innerHeight);
			return !(rect.bottom < 0 || rect.top - viewHeight >= 0);
		}
	</script>
</head>

<body>
	<div id="left_pad"></div>
	<aside>
		<a id="back_button" href="../"><img src="../global_assets/icons/back-arrow.svg" alt="back" title="back"></a>
		<h1><a href="..">Michael Crum</a></h1>
		<h3><em>More Projects:</em></h3>
		<nav>
			<ul>
				<!-- NAV -->
			</ul>
		</nav>
		<h3><em>More Bits:</em></h3>
		<nav>
			<ul>
				<!-- NAV_BITS -->
			</ul>
		</nav>
	</aside>
	<article id="article">
		<h1>
			<!-- TITLE -->
		</h1>
		<em class="date">
			<!-- DATE -->
		</em>
		<br>
		<!-- CONTENT -->
	</article>
	<div id="right_pad"></div>
</body>

</html>
