<!DOCTYPE html>
<html lang="en">

<head>
    <title><!-- TITLE --></title>

    <!-- seo -->
    <meta name="author" content="Michael Crum">
    <meta name="description" content="Michael Crum's portfolio and blog website.">
    <meta name="keywords" content="portfolio,developer,robotics,personal">

    <!-- display -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- icon -->
    <link rel="icon" type="image/png" sizes="32x32" href="/pics/icons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/pics/icons/favicon-16x16.png" />

    <!-- stylesheets -->
    <link rel="stylesheet" href="../styles/project_page.css">

    <!-- font -->
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet" />
</head>

<body>
    <div id="left_pad"></div>
    <aside>
        <h1><a href="../index.html">Michael Crum</a></h1>
        <h3><em>More Projects:</em></h3>
        <nav>
            <ul>
                <!-- NAV -->
            </ul>
        </nav>
    </aside>
    <article id="article">
        <h1>
            <!-- TITLE -->
        </h1>
        <em class="date">
            <!-- DATE -->
        </em>
        <!-- CONTENT -->
    </article>
    <div id="right_pad"></div>
</body>

</html>