<!DOCTYPE html>
<html lang="en">

<head>
    <title><!-- TITLE --> | Michael Crum's Portfolio</title>

    <!-- seo -->
    <meta name="author" content="Michael Crum">
    <meta name="description" content="<!-- DESCRIPTION -->">
    <meta name="keywords" content="portfolio,developer,robotics,personal">

    <!-- display -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- icon -->
    <link rel="icon" type="image/png" sizes="32x32" href="../global_assets/icons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="../global_assets/icons/favicon-16x16.png" />

    <!-- stylesheets -->
    <link rel="stylesheet" href="../styles/project_page.css">
    <link rel="stylesheet" href="../styles/highlight/styles/base16/bright.min.css">
    <link rel="stylesheet" href="../styles/katex/katex.min.css">

    <!-- syntax highlighting-->
    <script src="../styles/highlight/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>

    <!-- latex support-->
    <script defer src="../styles/katex/katex.min.js"></script>

    <!-- font -->
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet" />

    <!-- Matomo analytics-->
    <script>
        var _paq = window._paq = window._paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function () {
            var u = "https://michaelcrum.matomo.cloud/";
            _paq.push(['setTrackerUrl', u + 'matomo.php']);
            _paq.push(['setSiteId', '1']);
            var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
            g.async = true; g.src = '//cdn.matomo.cloud/michaelcrum.matomo.cloud/matomo.js'; s.parentNode.insertBefore(g, s);
        })();
    </script>
</head>

<body>
    <div id="left_pad"></div>
    <aside>
        <h1><a href="..">Michael Crum</a></h1>
        <h3><em>More Projects:</em></h3>
        <nav>
            <ul>
                <!-- NAV -->
            </ul>
        </nav>
        <h3><em>More Bits:</em></h3>
        <nav>
            <ul>
                <!-- NAV_BITS -->
            </ul>
        </nav>
    </aside>
    <article id="article">
        <h1>
            <!-- TITLE -->
        </h1>
        <em class="date">
            <!-- DATE -->
        </em>
        <br>
        <!-- CONTENT -->
    </article>
    <div id="right_pad"></div>
</body>

</html>