<!DOCTYPE html>
<html lang="en">

<head>
    <title>Michael Crum's Portfolio</title>

    <!-- seo -->
    <meta name="author" content="Michael Crum">
    <meta name="description"
        content="Michael Crum's portfolio and blog website. Featuring writings on robotics, computer graphics, and video game design.">
    <meta name="keywords" content="portfolio,developer,robotics,personal">

    <!-- display -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- icon -->
    <link rel="icon" type="image/png" sizes="32x32" href="./global_assets/icons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="./global_assets/icons/favicon-16x16.png" />

    <!-- stylesheets -->
    <link rel="stylesheet" href="./styles/index.css">

    <!-- font -->
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet" />

    <!-- Matomo analytics-->
    <script>
        var _paq = window._paq = window._paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function () {
            var u = "https://michaelcrum.matomo.cloud/";
            _paq.push(['setTrackerUrl', u + 'matomo.php']);
            _paq.push(['setSiteId', '1']);
            var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
            g.async = true; g.src = '//cdn.matomo.cloud/michaelcrum.matomo.cloud/matomo.js'; s.parentNode.insertBefore(g, s);
        })();
    </script>
</head>

<body>
    <section id="splash">
        <section id="card">
            <span>
                <article>
                    <img src="./global_assets/profile_pic.png" alt="A picture of me!">
                </article>
                <aside>
                    <h1>Michael Crum</h1>
                    <p>Roboticist and tinkerer. <br> Student at Cornell University.</p>
                    <footer>
                        <a href="https://www.linkedin.com/in/michael-crum-ab3799198/">
                            <img src="./global_assets/icons/linkedin.svg" alt="LinkedIn" title="LinkedIn">
                        </a>
                        <a href="https://github.com/usedhondacivic">
                            <img src="./global_assets/icons/github.svg" alt="GitHub" title="GitHub">
                        </a>
                        <a href="https://www.instagram.com/tricycle.boy/">
                            <img src="./global_assets/icons/instagram.svg" alt="Instagram" title="Instagram">
                        </a>
                    </footer>
                </aside>
            </span>
        </section>
        <footer>
            <p>See my projects</p>
            <img src="./global_assets/icons/down-arrow.svg" alt="Down Arrow">
        </footer>
    </section>

    <header>
        <h2>My Projects</h2>
        <p>A selection of my personal / school projects. </P>
        <p>For my professional work, see <a href="https://www.linkedin.com/in/michael-crum-ab3799198/">my LinkedIn.</a>
        </p>
        <p>For smaller works and thoughts, jump to <a href="#bits">bits.</a></p>
    </header>

    <!-- PROJECTS -->

    <header>
        <h2 id="bits">Bits</h2>
        <p>Smaller projects, write-ups, and thoughts.</p>
    </header>

    <!-- BITS -->

</body>

</html>