<!DOCTYPE html>
<html lang="en">

<head>
    <title>Michael Crum</title>

    <!-- seo -->
    <meta name="author" content="Michael Crum">
    <meta name="description" content="Michael Crum's portfolio and blog website.">
    <meta name="keywords" content="blog,developer,personal">

    <!-- display -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- icon -->
    <link rel="icon" type="image/png" sizes="32x32" href="./global_assets/icons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="./global_assets/icons/favicon-16x16.png" />

    <!-- stylesheets -->
    <link rel="stylesheet" href="./styles/index.css">

    <!-- font -->
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet" />
</head>

<body>
    <section id="splash">
        <section id="card">
            <span>
                <article>
                    <img src="./global_assets/profile_pic.png">
                </article>
                <aside>
                    <h1>Michael Crum</h1>
                    <p>Roboticist and tinkerer. <br> Student at Cornell University.</p>
                    <footer>
                        <a href="https://www.linkedin.com/in/michael-crum-ab3799198/">
                            <img src="./global_assets/icons/linkedin.svg" alt="LinkedIn" title="LinkedIn">
                        </a>
                        <a href="https://github.com/usedhondacivic">
                            <img src="./global_assets/icons/github.svg" alt="GitHub" title="GitHub">
                        </a>
                        <a href="https://www.instagram.com/tricycle.boy/">
                            <img src="./global_assets/icons/instagram.svg" alt="Instagram" title="Instagram">
                        </a>
                    </footer>
                </aside>
            </span>
        </section>
        <footer>
            <p>See my projects</p>
            <img src="./global_assets/icons/down-arrow.svg" alt="Down Arrow">
        </footer>
    </section>

    <header>
        <h2>My Projects</h2>
        <p>A selection of my personal / school projects. <br>For my professional work, see <a
                href="https://www.linkedin.com/in/michael-crum-ab3799198/">my LinkedIn.</a></p>
    </header>

    <!-- PROJECTS -->
</body>

</html>