html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Source Code Pro', monospace, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html {
  scroll-snap-type: y mandatory;
  background-color: none;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar {
  width: 0;
  height: 0;
}

a {
  color: aqua;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  color: #fefff5;
  mix-blend-mode: difference;
  font-family: 'Pacifico', cursive;
}

button {
  background-color: #4CAF50;
  /* Green */
  border: none;
  color: white;
  padding: 0px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

p {
  font-family: 'Source Code Pro', monospace, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

summary {
  cursor: pointer
}