.robotOverlay {
  white-space: pre-line;
  pointer-events: none;
}

.socialBar svg {
  display: inline;
  width: 20px;
  height: 20px;
  fill: #fefff5;
}

.header {
  position: fixed;
  color: #fefff5;
  mix-blend-mode: difference;
  display: inline-block;
  width: 100%;
  padding-left: 50px;
  pointer-events: all;
  z-index: 10;
}

.header h3{
  color: #fefff5;
  mix-blend-mode: difference;
  font-family: 'Pacifico', cursive;
}

.header a{
  color:#fefff5;
}

.header * {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

.projectScroller{
  width: 100vw;
}

.description {
  width: 300px;
  text-align: left;
  overflow-wrap: break-word;
}

.tabGroup {
  position: absolute;
  top: 0px;
  right: 0px;
}

.tabGroup button {
  display: block;
  margin: 0px;
}

.tabGroup button span {
  display: block;
  transform: rotate(90deg);

}